@import url(../../../css/csslayer.css);
.stacks {
  display: flex;
  position: relative;
}
.stacks .hidden-pile {
  position: relative;
  display: flex;
  border-radius: 10px;
  box-shadow: 3px 3px 0px 0px #333, 5px 5px 3px black;
  background-position: 0% 0%;
}
.stacks .hidden-pile .button {
  display: none;
  flex: 1;
  border: 3px dashed white;
  color: white;
  font-size: 400%;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 2px black;
}
.stacks .hidden-pile .button.eye {
  background: url("img/eye-shadow.png") center no-repeat;
}
.stacks .hidden-pile .button.left-radius {
  border-radius: 10px 0 0 10px;
}
.stacks .hidden-pile .button.right-radius {
  border-radius: 0 10px 10px 0;
}
.stacks .hidden-pile.selectable .button {
  display: flex;
  cursor: pointer;
}
.stacks .hidden-pile.selectable .button.hidden {
  visibility: hidden;
  pointer-events: none;
  cursor: default;
}
.stacks .hidden-pile.selectable .button.max {
  visibility: hidden;
  pointer-events: none;
  cursor: default;
}
.stacks .remaining-counter {
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px 1px white;
}

.pick-stock {
  border: 3px dashed transparent;
}
.pick-stock.selectable {
  border-color: white;
}
.pick-stock.selectable .stockitem {
  cursor: pointer;
}

#lord-pick, #location-pick {
  display: none;
}

#lord-stacks #lord-hidden-pile {
  min-width: 207px;
  width: 207px;
  height: 207px;
  margin-right: 10px;
  margin-bottom: 12px;
  background-image: url("img/lords.jpg");
}
#lord-stacks #lord-visible-stocks {
  display: flex;
  flex-wrap: wrap;
}
#lord-stacks #lord-visible-stocks > div {
  display: inline-block;
  margin-right: 10px;
  position: relative;
  border: 3px dashed transparent;
}
#lord-stacks #lord-visible-stocks > div.selectable {
  border-color: white;
  cursor: pointer;
}
#lord-stacks #remaining-lord-counter {
  width: 207px;
  top: 221px;
}

#location-stacks #location-hidden-pile {
  min-width: 186px;
  width: 186px;
  height: 124px;
  margin-right: 10px;
  background-image: url("img/locations.jpg");
}
#location-stacks #location-visible-stock {
  flex: 1;
  border: 3px dashed transparent;
}
#location-stacks #location-visible-stock.selectable {
  border-color: white;
  cursor: pointer;
}
#location-stacks #remaining-location-counter {
  width: 186px;
  top: 138px;
}

.stockitem {
  border-radius: 10px;
  box-shadow: 1px 1px 3px black;
}

#players-tables {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.player-table-wrapper.scaled-down {
  animation-duration: 1s;
  animation: scale-down-wrapper 1s 1 forwards;
}
.player-table-wrapper.scaled-down .player-table-mat {
  animation: scale-down-mat 1s 1 forwards;
}
.player-table-wrapper .player-name {
  text-align: center;
  min-width: 150px;
  font-weight: bold;
  position: absolute;
  left: calc(50% - 87px);
  top: -35px;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
  background: #040b11;
  padding: 5px 10px;
  border: 2px solid #040b11;
  border-radius: 5px 5px 0 0;
  border-bottom: 0px;
  background-repeat: no-repeat;
  background-position: center -110px;
}
.player-table-wrapper .player-table-mat {
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center -140px;
  box-shadow: 2px 2px 5px 5px black;
  max-width: 99%;
  width: 1388px;
  min-width: 1096px;
  margin-top: 40px;
}
.player-table-wrapper .player-table-mat .player-table {
  position: relative;
  width: 1096.3px;
  height: 1105px;
  margin-top: 5px;
}
.player-table-wrapper .mat1 {
  background-image: url("img/playmat_1.jpg");
}
.player-table-wrapper .mat2 {
  background-image: url("img/playmat_2.jpg");
}
.player-table-wrapper .mat3 {
  background-image: url("img/playmat_3.jpg");
}
.player-table-wrapper .mat4 {
  background-image: url("img/playmat_4.jpg");
}
.player-table-wrapper .mat5 {
  background-image: url("img/playmat_5.jpg");
}
.player-table-wrapper .mat6 {
  background-image: url("img/playmat_6.jpg");
}
.player-table-wrapper .mat7 {
  background-image: url("img/playmat_7.jpg");
}
.player-table-wrapper .mat8 {
  background-image: url("img/playmat_8.jpg");
}
.player-table-wrapper .mat9 {
  background-image: url("img/playmat_9.jpg");
}
.player-table-wrapper .mat10 {
  background-image: url("img/playmat_10.jpg");
}

@keyframes scale-down-wrapper {
  100% {
    margin-right: -50%;
  }
}
@keyframes scale-down-mat {
  100% {
    transform: scale(0.5);
    transform-origin: top left;
    margin-bottom: -40%;
    margin-right: -40%;
  }
}
.player-table-spot {
  position: absolute;
  display: inline-block;
  width: 207.26px;
  height: 207px;
}
.player-table-spot.spot1 {
  top: 0;
  left: 0px;
}
.player-table-spot.spot2 {
  top: 0;
  left: 222.26px;
}
.player-table-spot.spot3 {
  top: 0;
  left: 444.52px;
}
.player-table-spot.spot4 {
  top: 0;
  left: 666.78px;
}
.player-table-spot.spot5 {
  top: 0;
  left: 889.04px;
}
.player-table-spot.spot6 {
  top: 222px;
  left: 111.13px;
}
.player-table-spot.spot7 {
  top: 222px;
  left: 333.39px;
}
.player-table-spot.spot8 {
  top: 222px;
  left: 555.65px;
}
.player-table-spot.spot9 {
  top: 222px;
  left: 777.91px;
}
.player-table-spot.spot10 {
  top: 444px;
  left: 222.26px;
}
.player-table-spot.spot11 {
  top: 444px;
  left: 444.52px;
}
.player-table-spot.spot12 {
  top: 444px;
  left: 666.78px;
}
.player-table-spot.spot13 {
  top: 666px;
  left: 333.39px;
}
.player-table-spot.spot14 {
  top: 666px;
  left: 555.65px;
}
.player-table-spot.spot15 {
  top: 888px;
  left: 444.52px;
}
.player-table-spot .stockitem {
  box-shadow: 2px 2px 4px black;
}
.player-table-spot .stockitem.disabled {
  cursor: not-allowed;
  opacity: 0.5 !important;
}
.player-table-spot .stockitem.disabled:hover {
  cursor: not-allowed;
}
.player-table-spot .stockitem.selectable {
  border: 3px dashed white;
}
.player-table-spot .stockitem.selectable.selected {
  border: 3px white solid !important;
  box-shadow: 0 0 5px 2px white;
}
.player-table-spot .player-table-spot-location {
  position: absolute;
  top: 83px;
  left: 21.02px;
}
.player-table-spot .player-table-spot-token {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 48px;
  height: 48px;
}
.player-table-spot .player-table-spot-token .token {
  width: 48px;
  height: 48px;
  box-shadow: 0 0 5px 2px white;
}

.forbidden-key {
  width: 186px;
}
.forbidden-key::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 40px;
  height: 96px;
  background: url("img/forbidden.svg") center;
  background-repeat: no-repeat;
  background-size: contain;
}

.highlight-guild1 {
  animation: highlight-guild1-animation 0.75s alternate 2;
}

.highlight-guild2 {
  animation: highlight-guild2-animation 0.75s alternate 2;
}

.highlight-guild3 {
  animation: highlight-guild3-animation 0.75s alternate 2;
}

.highlight-guild4 {
  animation: highlight-guild4-animation 0.75s alternate 2;
}

.highlight-guild5 {
  animation: highlight-guild5-animation 0.75s alternate 2;
}

@keyframes highlight-guild1-animation {
  100% {
    box-shadow: 0 0 30px 15px #c1950b;
  }
}
@keyframes highlight-guild2-animation {
  100% {
    box-shadow: 0 0 30px 15px #770405;
  }
}
@keyframes highlight-guild3-animation {
  100% {
    box-shadow: 0 0 30px 15px #097138;
  }
}
@keyframes highlight-guild4-animation {
  100% {
    box-shadow: 0 0 30px 15px #011d4d;
  }
}
@keyframes highlight-guild5-animation {
  100% {
    box-shadow: 0 0 30px 15px #522886;
  }
}
.token {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
  background-image: url("img/tokens.png");
  background-size: 500%;
  border-radius: 50%;
}
.token.pearl {
  background-position: 0% 0%;
}
.token.lord {
  background-position: 50% 0%;
}
.token.key {
  background-image: url("img/keys.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  opacity: 0.5;
  border: 2px solid transparent;
  border-radius: 10px;
}
.token.key.silver {
  background-position: 0% 0%;
}
.token.key.gold {
  background-position: 100% 0%;
}
.token#pearlMasterToken {
  background-position: 100% 0%;
  border-radius: 50%;
  width: 48px;
  height: 48px;
}
.token#playAgainToken {
  background-position: 25% 0%;
  border-radius: 50%;
  width: 48px;
  height: 48px;
}
.token.guild1 {
  background-position: 50% 100%;
}
.token.guild2 {
  background-position: 100% 100%;
}
.token.guild3 {
  background-position: 75% 100%;
}
.token.guild4 {
  background-position: 25% 100%;
}
.token.guild5 {
  background-position: 0% 100%;
}

.top-lord-tokens {
  display: flex;
  align-items: center;
}
.top-lord-tokens div {
  margin-right: 10px;
}

.minimap {
  position: relative;
  width: 40px;
  height: 40px;
}
.minimap .player-table-spot {
  position: absolute;
  display: inline-block;
  width: 7px;
  height: 7px;
  background: #FFFFFF60;
  border-radius: 2px;
}
.minimap .player-table-spot.spot1 {
  top: 0;
  left: 0px;
}
.minimap .player-table-spot.spot2 {
  top: 0;
  left: 8px;
}
.minimap .player-table-spot.spot3 {
  top: 0;
  left: 16px;
}
.minimap .player-table-spot.spot4 {
  top: 0;
  left: 24px;
}
.minimap .player-table-spot.spot5 {
  top: 0;
  left: 32px;
}
.minimap .player-table-spot.spot6 {
  top: 8px;
  left: 4px;
}
.minimap .player-table-spot.spot7 {
  top: 8px;
  left: 12px;
}
.minimap .player-table-spot.spot8 {
  top: 8px;
  left: 20px;
}
.minimap .player-table-spot.spot9 {
  top: 8px;
  left: 28px;
}
.minimap .player-table-spot.spot10 {
  top: 16px;
  left: 8px;
}
.minimap .player-table-spot.spot11 {
  top: 16px;
  left: 16px;
}
.minimap .player-table-spot.spot12 {
  top: 16px;
  left: 24px;
}
.minimap .player-table-spot.spot13 {
  top: 24px;
  left: 12px;
}
.minimap .player-table-spot.spot14 {
  top: 24px;
  left: 20px;
}
.minimap .player-table-spot.spot15 {
  top: 32px;
  left: 16px;
}

.available .silver {
  animation: available-silver-key-animation 1.5s 1 forwards;
}
.available .gold {
  animation: available-gold-key-animation 1.5s 1 forwards;
}

@keyframes available-silver-key-animation {
  50% {
    opacity: 1;
    border-color: #4B587C;
    box-shadow: 0 0 12px 7px #4B587C;
  }
  100% {
    opacity: 1;
    border-color: #4B587C;
    box-shadow: unset;
  }
}
@keyframes available-gold-key-animation {
  50% {
    opacity: 1;
    border-color: #734532;
    box-shadow: 0 0 12px 7px #734532;
  }
  100% {
    opacity: 1;
    border-color: #734532;
    box-shadow: unset;
  }
}
.counters {
  display: flex;
  align-items: center;
  margin: 5px 0;
}
.counters .lord-counter, .counters .pearl-counter, .counters .key-counter {
  flex: 1;
  display: flex;
  align-items: center;
}
.counters .lord-counter span.left, .counters .pearl-counter span.left, .counters .key-counter span.left {
  margin-left: 10px;
}
.counters .lord-counter span.small, .counters .pearl-counter span.small, .counters .key-counter span.small {
  font-size: 80%;
}

.opponent-avatar {
  background: url("img/gear.png");
}

.sololord {
  width: 230px;
  height: 322px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px black;
  margin: 8px 2px;
  position: relative;
}
.sololord.sololord1 {
  background-image: url("img/sololord1.jpg");
}
.sololord.sololord2 {
  background-image: url("img/sololord2.jpg");
}
.sololord.sololord3 {
  background-image: url("img/sololord3.jpg");
}
.sololord.sololord4 {
  background-image: url("img/sololord4.jpg");
}
.sololord.sololord5 {
  background-image: url("img/sololord5.jpg");
}
.sololord .condition {
  position: absolute;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  bottom: 7px;
  opacity: 0;
  box-shadow: 0px 0px 5px 8px yellow;
}
.sololord .condition.over3.condition1 {
  left: 34px;
}
.sololord .condition.over3.condition2 {
  left: 93px;
}
.sololord .condition.over3.condition3 {
  left: 152px;
}
.sololord .condition.over4.condition1 {
  left: 17px;
}
.sololord .condition.over4.condition2 {
  left: 68px;
}
.sololord .condition.over4.condition3 {
  left: 119px;
}
.sololord .condition.over4.condition4 {
  left: 169px;
}
.sololord .condition[data-count="1"] {
  box-shadow: 0px 0px 5px 8px green;
}
.sololord .condition[data-count="0"] {
  box-shadow: 0px 0px 5px 8px red;
}
.sololord .condition.show {
  animation: show-condition 1s 1 forwards;
}

@keyframes show-condition {
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#score {
  display: none;
  justify-content: center;
}
#score table {
  width: 492px;
  background: url("img/score.jpg");
  box-shadow: 2px 2px 5px 5px black;
}
#score table tr {
  height: 74px;
}
#score table tr td {
  width: 62px;
  max-width: 62px;
  text-align: center;
}
#score table tr td:not(:first-child) {
  font-size: 150%;
  text-shadow: 1px 1px 1px white;
}
#score table tr td.player-name {
  width: 181px;
  max-width: 181px;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  word-break: break-all;
}
#score table tr td.total {
  font-weight: bold;
}

#conspiracy-help-button {
  position: fixed;
  bottom: 75px;
  left: 5px;
  width: 50px;
  height: 50px;
  background: url("img/tokens.png");
  background-position: 73% 5%;
  background-size: 800%;
  font-weight: bold;
  text-shadow: 0 0 4px white;
  border-radius: 25px;
  border: 1px solid #777;
  box-shadow: 3px 5px 5px 0px black;
  cursor: pointer;
  z-index: 949;
  font-size: 28pt;
  font-family: "MoolBoran";
}

@media only screen and (min-width: 1004px) {
  #conspiracy-help-button {
    bottom: 5px;
  }
}
#popin_conspiracyHelpDialog {
  color: #212222;
  background: #e5f4fd;
}

h2.standard_popin_title {
  font-family: "MoolBoran";
}

#help-popin {
  max-width: 35rem;
  max-height: 80vh;
  overflow: auto;
}
#help-popin h1 {
  font-family: "TribalGaramondPL-SC700";
  color: #0094bb;
}
#help-popin .help-section table {
  border-spacing: 10px;
  border-collapse: separate;
}
#help-popin #help-lords .lord {
  width: 207.26px;
  height: 207px;
  background-image: url("img/lords.jpg");
}
#help-popin #help-lords #lord1 {
  background-position: -1300% 0%;
}
#help-popin #help-lords #lord2 {
  background-position: -1400% 0%;
}
#help-popin #help-lords #lord3 {
  background-position: -1500% 0%;
}
#help-popin #help-lords #lord4 {
  background-position: -1600% 100%;
}
#help-popin #help-lords #lord5 {
  background-position: -1700% 100%;
}
#help-popin #help-lords #lord6 {
  background-position: -1800% 100%;
}
#help-popin #help-locations .location {
  width: 186.24px;
  height: 124px;
  background-image: url("img/locations.jpg");
}
#help-popin #help-locations #location1 {
  background-position: -100% 0%;
}
#help-popin #help-locations #location2 {
  background-position: -200% 0%;
}
#help-popin #help-locations #location3 {
  background-position: -300% 0%;
}
#help-popin #help-locations #location4 {
  background-position: -400% 0%;
}
#help-popin #help-locations #location5 {
  background-position: -500% 0%;
}
#help-popin #help-locations #location6 {
  background-position: -600% 0%;
}
#help-popin #help-locations #location7 {
  background-position: -700% 0%;
}
#help-popin #help-locations #location8 {
  background-position: -800% 0%;
}
#help-popin #help-locations #location9 {
  background-position: -900% 0%;
}
#help-popin #help-locations #location10 {
  background-position: -1000% 0%;
}
#help-popin #help-locations #location11 {
  background-position: -1100% 0%;
}
#help-popin #help-locations #location12 {
  background-position: -1200% 0%;
}
#help-popin #help-locations #location13 {
  background-position: -1300% 100%;
}
#help-popin #help-locations #location14 {
  background-position: -1400% 100%;
}
#help-popin #help-locations #location100 {
  background-position: -1700% 100%;
}
#help-popin #help-locations #location101 {
  background-position: -2200% 100%;
}
#help-popin #help-locations #location21 {
  background-image: url("img/bonus-locations.jpg");
  background-position: 0% 100%;
}
#help-popin #help-locations #location22 {
  background-image: url("img/bonus-locations.jpg");
  background-position: 25% 100%;
}
#help-popin #help-locations #location23 {
  background-image: url("img/bonus-locations.jpg");
  background-position: 50% 100%;
}
#help-popin #help-locations #location24 {
  background-image: url("img/bonus-locations.jpg");
  background-position: 75% 100%;
}
#help-popin #help-locations #location25 {
  background-image: url("img/bonus-locations.jpg");
  background-position: 100% 100%;
}
#help-popin #alliance {
  color: darkred;
}
#help-popin #alliance hr {
  border: 1px solid #0094bb;
  width: 60%;
}
#help-popin #alliance .example-wrapper {
  display: flex;
  justify-content: center;
}
#help-popin #alliance .example-wrapper .example {
  width: 469px;
  max-width: 100%;
  aspect-ratio: 469/500;
  background: url("img/alliance-example.jpg");
  background-size: contain;
}

#popin_showPlayermat_container {
  display: none;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1903px;
  max-width: 100vw;
  height: 2525.19px;
  /*max-height: 100vh; */
}

#popin_showPlayermat_underlay {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 949;
  opacity: 0.7;
  background-color: white;
}

#popin_showPlayermat_wrapper {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 950;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  transform-origin: left top;
}

#popin_showPlayermat {
  z-index: 2000;
  margin-top: 60px;
  max-width: 99%;
  width: 1096.3px;
}

.conspiracy_popin {
  width: 80%;
  position: relative;
}
.conspiracy_popin .arrow {
  position: absolute;
  height: 30px;
  width: 30px;
  margin-top: -15px;
  top: 50%;
  display: block;
  border-color: #0094bb;
  border-style: solid;
  border-width: 8px 8px 0 0;
  outline: 0;
  z-index: 4;
}
.conspiracy_popin .arrow:hover {
  border-color: white;
}
.conspiracy_popin .arrow.left {
  left: -10px;
  transform: rotate(-135deg);
}
.conspiracy_popin .arrow.right {
  right: -10px;
  transform: rotate(45deg);
}
.conspiracy_popin .closeicon {
  background-color: #0094bb;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 10px;
  right: -30px;
  font-size: 100%;
  color: white;
  z-index: 1;
}
.conspiracy_popin .closeicon:hover {
  text-decoration: none;
  color: #E2FFFF;
  transform: scale(1.1);
}

/* make space between buttons on touch devices */
@media (hover: none) {
  #page-title .action-button.bgabutton, #page-title .bgabutton {
    margin-bottom: 8px;
    margin-top: 8px;
  }
}
html {
  background: url("img/background.jpg") #0D111A;
  background-size: contain;
  background-repeat: no-repeat;
}

#last-round {
  margin: 5px -5px -5px;
  text-align: center;
  background-color: #900;
}

#stacks, #score .score-number {
  font-family: "MoolBoran";
}

.dijitTooltipContents {
  font-size: 1rem;
}

.player_board_content {
  font-family: "MoolBoran";
  font-size: 120%;
}

.player-board .show-playermat-button {
  position: absolute;
  top: 0;
  right: 36px;
  height: 40px;
  width: 25px;
  cursor: pointer;
}
.player-board .show-playermat-button:hover {
  color: grey;
}

.pearlMasterWrapper {
  display: inline-block;
  position: relative;
}

.playAgainWrapper {
  display: inline-block;
  position: relative;
}

.log-guild-name {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.highlight {
  animation: highlight-animation 0.75s alternate 2;
}

td.highlight {
  animation: td-highlight-animation 0.75s alternate 2;
}

@keyframes highlight-animation {
  100% {
    box-shadow: 0 0 30px 15px white;
  }
}
@keyframes td-highlight-animation {
  100% {
    background: white;
  }
}
#zoom-wrapper {
  position: relative;
}
#zoom-wrapper #zoom-controls {
  position: absolute;
  top: 0;
  right: 0;
}
#zoom-wrapper #zoom-controls button {
  width: 40px;
  height: 40px;
  background: url("img/zoom.svg");
  background-size: auto 220%;
}
#zoom-wrapper #zoom-controls button:not(.disabled) {
  cursor: pointer;
}
#zoom-wrapper #zoom-controls button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
#zoom-wrapper #zoom-controls #zoom-in {
  background-position: 6% 94%;
}
#zoom-wrapper #zoom-controls #zoom-out {
  background-position: 82% 94%;
}
#zoom-wrapper #full-table {
  transform-origin: left top;
}
