@import url(../../../css/csslayer.css);
.stacks {
  display: flex;
  position: relative;
}
.stacks .hidden-pile {
  position: relative;
  display: flex;
  border-radius: 10px;
  box-shadow: 3px 3px 0px 0px #333, 5px 5px 3px black;
  background-position: 0% 0%;
}
.stacks .hidden-pile .button {
  display: none;
  flex: 1;
  border: 3px dashed white;
  color: white;
  font-size: 300%;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 2px black;
}
.stacks .hidden-pile .button.eye {
  background: url("img/eye-shadow.png") center no-repeat;
}
.stacks .hidden-pile.selectable .button {
  display: flex;
  cursor: pointer;
}
.stacks .hidden-pile.selectable .button.hidden {
  visibility: hidden;
  pointer-events: none;
  cursor: default;
}
.stacks .hidden-pile.selectable .button.max {
  visibility: hidden;
  pointer-events: none;
  cursor: default;
}

.pick-stock.selectable {
  border: 3px dashed white;
}
.pick-stock.selectable .stockitem {
  cursor: pointer;
}

#lord-pick, #location-pick {
  display: none;
}

#lord-stacks #lord-hidden-pile {
  min-width: 207px;
  width: 207px;
  height: 207px;
  margin-right: 10px;
  background-image: url("img/lords.jpg");
}
#lord-stacks #lord-visible-stocks {
  display: flex;
  flex-wrap: wrap;
}
#lord-stacks #lord-visible-stocks > div {
  display: inline-block;
  margin-right: 10px;
  position: relative;
}
#lord-stacks #lord-visible-stocks > div.selectable {
  border: 3px dashed white;
  cursor: pointer;
}

#location-stacks #location-hidden-pile {
  min-width: 186px;
  width: 186px;
  height: 124px;
  margin-right: 10px;
  background-image: url("img/locations.jpg");
}
#location-stacks #location-visible-stock {
  flex: 1;
}
#location-stacks #location-visible-stock.selectable {
  border: 3px dashed white;
  cursor: pointer;
}

.stockitem {
  border-radius: 10px;
  box-shadow: 1px 1px 3px black;
}

#players-tables .player-table-wrapper {
  display: flex;
  justify-content: center;
}
#players-tables .player-table-wrapper .player-name {
  text-align: center;
  min-width: 150px;
  font-weight: bold;
  position: absolute;
  left: calc(50% - 87px);
  top: -35px;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
  background: #040b11;
  padding: 5px 10px;
  border: 2px solid #040b11;
  border-radius: 5px 5px 0 0;
  border-bottom: 0px;
  background-repeat: no-repeat;
  background-position: center -110px;
}
#players-tables .player-table-wrapper .player-table-mat {
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center -140px;
  box-shadow: 2px 2px 5px 5px black;
  max-width: 99%;
  width: 1388px;
  min-width: 1096px;
  margin-top: 40px;
}
#players-tables .player-table-wrapper .player-table-mat .player-table {
  position: relative;
  width: 1096.3px;
  height: 1105px;
  margin-top: 5px;
}
#players-tables .player-table-wrapper .mat1 {
  background-image: url("img/playmat_1.jpg");
}
#players-tables .player-table-wrapper .mat2 {
  background-image: url("img/playmat_2.jpg");
}
#players-tables .player-table-wrapper .mat3 {
  background-image: url("img/playmat_3.jpg");
}
#players-tables .player-table-wrapper .mat4 {
  background-image: url("img/playmat_4.jpg");
}
#players-tables .player-table-wrapper .mat5 {
  background-image: url("img/playmat_5.jpg");
}
#players-tables .player-table-wrapper .mat6 {
  background-image: url("img/playmat_6.jpg");
}
#players-tables .player-table-wrapper .mat7 {
  background-image: url("img/playmat_7.jpg");
}
#players-tables .player-table-wrapper .mat8 {
  background-image: url("img/playmat_8.jpg");
}
#players-tables .player-table-wrapper .mat9 {
  background-image: url("img/playmat_9.jpg");
}
#players-tables .player-table-wrapper .mat10 {
  background-image: url("img/playmat_10.jpg");
}

.player-table-spot {
  position: absolute;
  display: inline-block;
  width: 207.26px;
  height: 209px;
}
.player-table-spot.spot1 {
  top: 0;
  left: 0px;
}
.player-table-spot.spot2 {
  top: 0;
  left: 222.26px;
}
.player-table-spot.spot3 {
  top: 0;
  left: 444.52px;
}
.player-table-spot.spot4 {
  top: 0;
  left: 666.78px;
}
.player-table-spot.spot5 {
  top: 0;
  left: 889.04px;
}
.player-table-spot.spot6 {
  top: 222px;
  left: 111.13px;
}
.player-table-spot.spot7 {
  top: 222px;
  left: 333.39px;
}
.player-table-spot.spot8 {
  top: 222px;
  left: 555.65px;
}
.player-table-spot.spot9 {
  top: 222px;
  left: 777.91px;
}
.player-table-spot.spot10 {
  top: 444px;
  left: 222.26px;
}
.player-table-spot.spot11 {
  top: 444px;
  left: 444.52px;
}
.player-table-spot.spot12 {
  top: 444px;
  left: 666.78px;
}
.player-table-spot.spot13 {
  top: 666px;
  left: 333.39px;
}
.player-table-spot.spot14 {
  top: 666px;
  left: 555.65px;
}
.player-table-spot.spot15 {
  top: 888px;
  left: 444.52px;
}
.player-table-spot .stockitem {
  box-shadow: 2px 2px 4px black;
}
.player-table-spot .stockitem.disabled {
  cursor: not-allowed;
  opacity: 0.5 !important;
}
.player-table-spot .stockitem.disabled:hover {
  cursor: not-allowed;
}
.player-table-spot .stockitem.selectable {
  border: 3px dashed white;
}
.player-table-spot .player-table-spot-location {
  position: absolute;
  top: 83px;
  left: 21.02px;
}
.player-table-spot .player-table-spot-token {
  position: absolute;
  top: 10px;
  right: 10px;
}
.player-table-spot .player-table-spot-token .token {
  width: 48px;
  height: 48px;
  filter: drop-shadow(0 0 5px white);
}

.token {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
  background-image: url("img/tokens.png");
  background-size: 600%;
}
.token.pearl {
  background-position: 0% 0%;
}
.token.lord {
  background-position: 50% 0%;
}
.token#pearlMasterToken {
  background-position: 100% 0%;
  border-radius: 50%;
}
.token.guild1 {
  background-position: 50% 100%;
}
.token.guild2 {
  background-position: 100% 100%;
}
.token.guild3 {
  background-position: 75% 100%;
}
.token.guild4 {
  background-position: 25% 100%;
}
.token.guild5 {
  background-position: 0% 100%;
}

.top-lord-tokens {
  display: flex;
  align-items: center;
}
.top-lord-tokens div {
  margin-right: 10px;
}

.counters {
  display: flex;
  align-items: center;
}
.counters .lord-counter, .counters .pearl-counter {
  flex: 1;
  display: flex;
  align-items: center;
}
.counters .lord-counter span, .counters .pearl-counter span {
  margin-left: 10px;
}

#score {
  display: none;
  justify-content: center;
}
#score table {
  width: 620px;
  background: url("img/score.jpg");
  box-shadow: 2px 2px 5px 5px black;
}
#score table tr {
  height: 125px;
}
#score table tr:first-of-type {
  height: 122px;
}
#score table tr td {
  width: 105px;
  max-width: 105px;
  text-align: center;
}
#score table tr td:not(:first-child) {
  font-size: 150%;
  text-shadow: 1px 1px 1px white;
}
#score table tr td.player-name {
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  word-break: break-all;
}
#score table tr td.total {
  font-weight: bold;
}

#conspiracy-help-button {
  position: fixed;
  bottom: 75px;
  left: 5px;
  width: 50px;
  height: 50px;
  background: url("img/tokens.png");
  background-position: 73% 5%;
  background-size: 800%;
  font-weight: bold;
  text-shadow: 0 0 4px white;
  border-radius: 25px;
  border: 1px solid #777;
  box-shadow: 3px 5px 5px 0px black;
  cursor: pointer;
  z-index: 949;
  font-size: 28pt;
}

/* we show help button if user has no mouse ( = no tooltips) */
@media (hover: hover) {
  #conspiracy-help-button {
    display: none;
  }
}
.help-section table {
  border-spacing: 5px;
  border-collapse: separate;
}

#help-lords .lord {
  width: 207.26px;
  height: 207px;
  background-image: url("img/lords.jpg");
}
#help-lords #lord1 {
  background-position: -1300% 0%;
}
#help-lords #lord2 {
  background-position: -1400% 0%;
}
#help-lords #lord3 {
  background-position: -1500% 0%;
}
#help-lords #lord4 {
  background-position: -1600% 0%;
}
#help-lords #lord5 {
  background-position: -1700% 0%;
}
#help-lords #lord6 {
  background-position: -1800% 0%;
}

#help-locations .location {
  width: 186.24px;
  height: 124px;
  background-image: url("img/locations.jpg");
}
#help-locations #location1 {
  background-position: -100% 0%;
}
#help-locations #location2 {
  background-position: -200% 0%;
}
#help-locations #location3 {
  background-position: -300% 0%;
}
#help-locations #location4 {
  background-position: -400% 0%;
}
#help-locations #location5 {
  background-position: -500% 0%;
}
#help-locations #location6 {
  background-position: -600% 0%;
}
#help-locations #location7 {
  background-position: -700% 0%;
}
#help-locations #location8 {
  background-position: -800% 0%;
}
#help-locations #location9 {
  background-position: -900% 0%;
}
#help-locations #location10 {
  background-position: -1000% 0%;
}
#help-locations #location11 {
  background-position: -1100% 0%;
}
#help-locations #location12 {
  background-position: -1200% 0%;
}
#help-locations #location13 {
  background-position: -1300% 0%;
}
#help-locations #location14 {
  background-position: -1400% 0%;
}
#help-locations #location100 {
  background-position: -1700% 0%;
}
#help-locations #location101 {
  background-position: -2200% 0%;
}

html {
  background: url("img/background.jpg") #0D111A;
  background-size: contain;
  background-repeat: no-repeat;
}

.pearlMasterWrapper {
  display: inline-block;
  position: relative;
  width: 32px;
}

.log-guild-name {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.highlight {
  animation: highlight-animation 0.75s alternate 2;
}

@keyframes highlight-animation {
  100% {
    box-shadow: 0 0 30px 15px white;
  }
}
