#lord-stacks {
  display: flex;
}
#lord-stacks #lord-hidden-pile {
  display: flex;
  width: 220px;
  height: 220px;
  background: darkblue;
}
#lord-stacks #lord-hidden-pile .button {
  display: none;
  flex: 1;
  border: 3px dashed white;
  color: white;
  font-size: 300%;
  justify-content: center;
  align-items: center;
}
#lord-stacks #lord-hidden-pile.selectable .button {
  display: flex;
  cursor: pointer;
}

#location-stacks {
  display: flex;
}
#location-stacks #location-hidden-pile {
  display: flex;
  width: 200px;
  height: 100px;
  background: darkblue;
}
#location-stacks #location-hidden-pile .button {
  display: none;
  flex: 1;
  border: 3px dashed white;
  color: white;
  font-size: 300%;
  justify-content: center;
  align-items: center;
}
#location-stacks #location-hidden-pile.selectable .button {
  display: flex;
  cursor: pointer;
}
