.token {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
  background-image: url('img/tokens.png');
  background-size: 600%;

  &.pearl {
    background-position: 0% 0%;
  }

  &#pearlMasterToken {
    background-position: 100% 0%;
  }

  @for $i from 1 through 5 {
    &.guild#{$i}{
      background-position: ($i - 1)/4 * 100% 100%;
    }
  }
}

.top-lord-tokens {
    display: flex;
    align-items: center;

    div {
      margin-right: 10px;;
    }
}

.pearl-counter {
    display: flex;
    align-items: center;

    span {
        margin-left: 10px;
    }
}
