.token {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
  background-image: url('img/tokens.png');
  background-size: 600%;

  &.pearl {
    background-position: 0% 0%;
  }

  &.lord {
    background-position: 50% 0%;
  }

  &#pearlMasterToken {
    background-position: 100% 0%;
  }

  &.guild1{
    background-position: (3 - 1)/4 * 100% 100%;
  }
  &.guild2{
    background-position: (5 - 1)/4 * 100% 100%;
  }
  &.guild3{
    background-position: (4 - 1)/4 * 100% 100%;
  }
  &.guild4{
    background-position: (2 - 1)/4 * 100% 100%;
  }
  &.guild5{
    background-position: (1 - 1)/4 * 100% 100%;
  }
}

.top-lord-tokens {
    display: flex;
    align-items: center;

    div {
      margin-right: 10px;;
    }
}

.counters {
  display: flex;
  align-items: center;

  .lord-counter, .pearl-counter {
    flex: 1;
    display: flex;
    align-items: center;

    span {
      margin-left: 10px;
    }
  }
}
