.token {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
  background-image: url('img/tokens.png');
  background-size: 600%;

  &.pearl {
    background-position: 0% 0%;
  }

  &.lord {
    background-position: 50% 0%;
  }

  &.key {
    background-image: url('img/keys.png');
    background-size: auto 100%;
    opacity: 0.5;

    &.silver {
      background-position: 0% 0%;

      &.available {
        animation: available-silver-key-animation 1.5s 1 forwards;
      }
    }
  
    &.gold {
      background-position: 100% 0%;
    }

    &.available {
      animation: available-gold-key-animation 1.5s 1 forwards;
    }
  }
    
  @keyframes available-silver-key-animation {
      50% {
        opacity: 1;
        filter: drop-shadow(0 0 10px gray);
      }
      100% { 
        opacity: 1;
        filter: drop-shadow(0 0 1px gray);
      }
  }
    
  @keyframes available-gold-key-animation {
      50% {
        opacity: 1;
        filter: drop-shadow(0 0 10px gold);
      }
      100% { 
        opacity: 1;
        filter: drop-shadow(0 0 1px gold);
      }
  }

  &#pearlMasterToken {
    background-position: 100% 0%;
    border-radius: 50%;
    width: 48px;
    height: 48px;
  }

  &.guild1{
    background-position: (3 - 1)/4 * 100% 100%;
  }
  &.guild2{
    background-position: (5 - 1)/4 * 100% 100%;
  }
  &.guild3{
    background-position: (4 - 1)/4 * 100% 100%;
  }
  &.guild4{
    background-position: (2 - 1)/4 * 100% 100%;
  }
  &.guild5{
    background-position: (1 - 1)/4 * 100% 100%;
  }
}

.top-lord-tokens {
    display: flex;
    align-items: center;

    div {
      margin-right: 10px;;
    }
}

.counters {
  display: flex;
  align-items: center;
  margin: 5px 0;

  .lord-counter, .pearl-counter, .key-counter {
    flex: 1;
    display: flex;
    align-items: center;

    span.left {
      margin-left: 10px;
    }
    span.small {
      font-size: 80%;
    }
  }
}
