@import url(../../../css/csslayer.css);

@import 'stacks/stacks';
@import 'players-tables/players-tables';
@import 'tokens';
@import 'score';

html {
    background: url('img/background.jpg');
    background-size: contain;
}

.log-guild-name {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
