#lord-stacks {
    display: flex;

    #lord-hidden-pile {      
        display: flex;
        width: 220px;
        height: 220px;
        background: darkblue;

        .button {
            display: none;
            flex: 1;
            border: 3px dashed white;
            color: white;
            font-size: 300%;
            justify-content: center;
            align-items: center;
        }

        &.selectable .button {
            display: flex;
            cursor: pointer;
        }
    }
}

#location-stacks {
    display: flex;
    
    #location-hidden-pile {        
        display: flex;
        width: 200px;
        height: 100px;
        background: darkblue;

        .button {
            display: none;
            flex: 1;
            border: 3px dashed white;
            color: white;
            font-size: 300%;
            justify-content: center;
            align-items: center;
        }

        &.selectable .button {
            display: flex;
            cursor: pointer;
        }
    }
}
