$lord-width: 207.26px;
$lord-height: 207px;
$location-width: 186.24px;
$location-height: 124px;
$lord-left-margin: 5px;
$lord-top-margin: 5px;

#players-tables {
    .player-name {
        font-weight: bold;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    }

    .player-table {
        position: relative;
        height: ($lord-height + $lord-top-margin) * 5;
        margin-top: 10px;
    }
}

@import 'spot';