$lord-width: 207.26px;
$lord-height: 207px;
$location-width: 186.24px;
$location-height: 124px;
$lord-margin: 15px;
$top-margin: 5px;
$bottom-margin: 85px;

#players-tables {
    .player-name {
        font-weight: bold;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    }

    .player-table-mat {
        display: flex;
        justify-content: center;
        /* TODO adjust */
        /*background-size: 85% 132%;
        background-position-y: 41%;*/
        background-repeat: no-repeat;
        background-position: center -140px;

        @for $i from 1 through 10 {
            &.mat#{$i} {
                background-image: url('img/playmat_#{$i}.jpg');
            }
        }

        .player-table {
            position: relative;
            width: $lord-width * 5 + $lord-margin * 4;
            height: $lord-height * 5 + $lord-margin * 4 + $bottom-margin;
            margin-top: $top-margin;
        }
    }
}

@import 'spot';